- content_for :title do
  Coursemy
  \|
  Online Courses - Learn On Your Own Pace
  
.container-fluid.bg-dark.text-light.p-5
  .container.bg-dark.p-5
    .display-4 
      What Do you want to learn today?
    
    .p-4
    
    - if current_user
      .form-inline.my-2.my-lg-0
        = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
          .input-group
            = f.search_field :title_or_short_description_cont, class: 'form-control-sm', style: 'float: left; width: 150px; ', placeholder: 'Find a course', :autocomplete => :off
            %span.input-group-append
              %button.btn.btn-primary.btn-sm{:type => "submit"}
                %span.fa.fa-search{"aria-hidden" => "true"}
        // = form_tag(courses_path, method: :get) do
        //   .input-group
        //     = text_field_tag :title, params[:title], autocomplete: 'on', placeholder: "Search", class: 'form-control-sm'
        //     %span.input-group-append
        //       %button.btn.btn-primary.btn-sm{:type => "submit"}
        //         %span.fa.fa-search{"aria-hidden" => "true"}
    %p
    
.card-group
  .card.card-body
    %h1
      .fa.fa-graduation-cap
    = Course.count
    online courses
    .row
    Explore a vaiety of fresh topics
  .card.card-body
    %h1
      .fas.fa-chalkboard-teacher
    = Course.distinct.count(:user_id)
    expert instructors
    .row
    Find the right instructor for you
  .card.card-body
    %h1
      .fa.fa-user-graduate
    = User.count
    Active learners
    .row
    Join the knowledge sharing community
  .card.card-body
    %h1
      .fa.fa-infinity
    Lifetime Access
    .row
    Learn at your own pace


%hr
%h4
  .fas.fa-user-graduate
  Continue Learning
.grid-container
  - @purchased_courses.each do |course|
    = render 'courses/course', course: course
%hr
%h4
  .fas.fa-chart-line
  Popular Courses
.grid-container
  - @popular_courses.each do |course|
    = render 'courses/course', course: course
%hr
%h4
  .fas.fa-star
  Top Rated Courses
.grid-container
  - @top_rated_courses.each do |course|
    = render 'courses/course', course: course
%hr
%h4
  .fas.fa-clock
  Latest Courses
.grid-container
  - @latest_courses.each do |course|
    = render 'courses/course', course: course
      
%hr
%h4
  .fas.fa-comment
  What is our studnet saying
.grid-container
  - @latest_good_reviews.each do |enrollment|
    = render 'enrollments/enrollment', enrollment: enrollment
