- content_for :title do
  Coursemy
  \|
  Edit
  = @course.title
= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)
%p
.card
  .card-header
    %h3
      .fas.fa-graduation-cap
      Editing course
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show', @course, class: "btn btn-secondary"
    \
    = link_to 'Back', courses_path, class: "btn btn-warning"
