%h1 
  Courses:
  = @courses.count

.row
  .col-md-2
    = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
      // _cont for strings, _eq for integers, ransack methods
      = f.label :title
      = f.search_field :title_cont, placeholder: 'Title', class: "form-control form-control-sm"
      %p
      = f.label :short_description
      = f.search_field :short_description_cont, placeholder: 'Short description', class: "form-control form-control-sm"
      %p
      //= f.select :language_cont, ['Arabic', 'English', 'Polish'], include_blank: true, placeholder: 'Language', class: "form-control form-control-sm"
      = f.label :language
      = f.select :language_cont, Course.languages, include_blank: true, placeholder: 'Language', class: "form-control form-control-sm"
      %p
      = f.label :level
      = f.select :level_cont, Course.levels, include_blank: true, placeholder: 'Level', class: "form-control form-control-sm"
      %p
      = f.label :price
      = f.search_field :price_eq, placeholder: 'Price', class: "form-control form-control-sm"
      %p
      = f.label :teacher
      = f.search_field :user_email_cont, placeholder: 'User email', class: "form-control form-control-sm"
      %p
      = f.submit
    .ml-2
    = link_to 'refresh', courses_path
  .col-md-10
    .grid-container
      - @courses.each do |course|
        = render 'courses/course', course: course
    
%br