- content_for :title do
  Coursemy
  \|
  = @course.title
= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)
%p

.row
  // for browser resize
  .col-lg-8.order-1.order-lg-1 
    .jumbotron
      %h3
        = @course.title
      .p-3
      .row
      .fas.fa-clock
      = @course.updated_at.strftime("%d/%b/%Y")
      .row
      .fas.fa-globe-europe
      = @course.language
      .fas.fa-signal
      = @course.level
      %hr
      = @course.description
    %h4
      .fas.fa-tasks
      = pluralize(@course.lessons_count, 'Lesson') + " :"
      .float-end
        - unless @course.lessons_count.zero?
          .fas.fa-spinner
          = number_to_percentage(@course.progress(current_user), precision: 0)
          = certificate_button(@course)    
    - if @course.user == current_user
      .list-group.lesson-sortable
        - @lessons.each do |lesson|
          = content_tag "div", id: "lesson-#{lesson.id}", data: { model_name: lesson.class.name.underscore, update_url: course_lesson_sort_path(@course, lesson)} do
            .list-group-item
              .fa.fa-sort.all-scroll{:style => "cursor: grab;"}
              = render 'lessons/lesson_preview', lesson: lesson
    - elsif policy(@course).show?
      .list-group.shadow
        - @lessons.each do |lesson|
          .list-group-item.list-group-item-secondary
            = render 'lessons/lesson_preview', lesson: lesson
    %p
    %h4
      .far.fa-comment 
      = pluralize(@enrollments_with_reviews.count, 'Review')
      /= @course.enrollments_count -> this show all the enrollments even if there is no review so using @enrollments_with_reviews is the right choice
    - @enrollments_with_reviews.each do |enrollment|
      = render 'enrollments/enrollment', enrollment: enrollment
      
  .col-lg-4.order-0.order-lg-1
    .sticky-top
      = render 'courses/course', course: @course
      
%h4
%hr
  Similar Courses
- Course.all.where.not(id: @course.id).each do |course|
  .row
  // Return all courses with the same tag as the current opened course 
  - unless @course.tags.pluck(:id).intersection(course.tags.pluck(:id)).count.zero?
    .grid-container
      = render 'courses/course', course: course
      