= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)
%p

.row
  .col-lg-6
    = render 'courses/course', course: @course
  .col-lg-6
    // pass course id to the new lesson created by default
    = link_to "Add New Lesson", new_course_lesson_path(@course, @lesson), class: "btn btn-sm btn-warning d-grid gap-2" 
    %p
    - @lessons.each do |lesson|
      %p
      = render 'lessons/lesson', lesson: lesson