!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{description: 'Online Learning and Skill sharing platform'}/
    %meta{keywords: 'online education, course platform, video tutorials, udemy clone, learn on your own pace'}/
    %meta{author: 'Eslam Mahgoub'}/
    / %title Coursemy
    = favicon_link_tag 'logo.jpg'
    %title
      = content_for?(:title) ? yield(:title) : "Coursemy"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    - if Rails.env.production?
      = render "layouts/google_analytics"
  %body
    .container
      = render "layouts/header"
      = render "layouts/messages"
      %p
      = yield
      .purple-background
        = render "layouts/footer"
    
